[submodule "blog/themes/ananke"]
	path = blog/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "blog/themes/hugo-PaperMod"]
	path = blog/themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
